apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: skc-app-1
  name: skc-app-1
  namespace: default
spec:
  replicas: 1 #CHANGE
  minReadySeconds: 45
  selector:
    matchLabels:
      app: skc-app-1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: skc-app-1
    spec:
      containers:
      - name: skc-app-1
        image: myreposayankc/skcnginx
        imagePullPolicy: IfNotPresent
        ports:
        - name: nginx-port
          containerPort: 80
        resources: 
          requests:
            cpu: 300m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1024Mi 
        readinessProbe:
          httpGet:
            path: /
            port: nginx-port
          failureThreshold: 5
          periodSeconds: 10
          initialDelaySeconds: 60
        livenessProbe:
          httpGet:
            path: /
            port: nginx-port
          failureThreshold: 5
          periodSeconds: 10
          initialDelaySeconds: 60
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  labels: #PODS
    app: skc-app-1
  name: skc-app-1
  namespace: default
spec:
  ports:
  - # nodePort: 30702
    port: 80 
    protocol: TCP
    targetPort: 80 
  selector:
    app: skc-app-1
  sessionAffinity: None 
  type: LoadBalancer
